

a:visited{
  color: #FF50AC;

}

h1{
  font-family: courier;
    color: #F7B127;
    font-style: oblique;
}

main{
  font-family: 'Rajdhani', sans-serif;

}

.nav-image {
    opacity: 0;
}

.nav-item:hover .nav-image {
    opacity: 1;
}

.one{
  position: absolute;
  top:100px;
  left:50px;

}

.two{
  position: absolute;
  top: 165px;
  left: 150px;
}

.three{
  position: absolute;
  top: 125px;
  left: 175px;
}

#linkboys {
  position: absolute;
  top: 250px;
  left: 400px;
  font-size: 150%;

}

#picboys{
  position:absolute;
  height: 250px;
  width: 300px;
  top:400px;
  left:150px;
}

#linknever {
  position: absolute;
  top: 200px;
  left: 645px;
  font-size: 150%;
}

#picnever{
  position: absolute;
  top: 250px;
  left: 945px;
  height:388px;
  width:388px;

}

#linkrum {
  position: absolute;
  top: 350px;
  left: 500px;
  font-size: 150%;
}

#picrum{
  position:absolute;
  top: 400px;
  left: 150px;
  height:400px;
  width: 400px;

}

#linkescape {
  position: absolute;
  top: 300px;
  left: 753px;
  font-size: 150%;
}

#picescape{
position: absolute;
height: 400px;
width: 400px;
top: 350px;
left: 800px;
}

#linkcheap {
  position:absolute;
  left:600px;
  top:400px;
  font-size: 150%;
}

#piccheap{
  position: absolute;
  left: 500px;
  top: 450px;
  width: 300px;
  height: 300px;

}
