a{
  color: #FF50AC;
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;

}

a:hover {
  color: chartreuse;
}

h1{
  font-family: 'Kumar One';
    color: black;
}

header{

}

.header-item{
  display:flex;
  justify-content: flex-end;
}

.nav-link{
  padding-right: 2%;
}

ul{
  margin-left:
}


.nav-image {
    opacity: 0;
}

.nav-item:hover .nav-image {
    opacity: 1;
}


.one:hover{
  color: chartreuse;
  z-index: 0;
}
.two:hover{
  color: chartreuse;
  z-index: 1;
}
.three:hover{
  color: chartreuse;
  z-index: 2;
}




/* boys dont cry*/

#linkboys {
  position:absolute;
  top: 25%;
  left: 10%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;

}

#linkboys:hover{
  color: chartreuse;
  transform: rotate(15deg);
  background-color: white;
  transition: all 0.15s ease
}


#picboys{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -1;
  transition: all 1s ease

}


/* nevermind the bollocks*/

#linknever {
  position: absolute;
  top: 15%;
  left: 30%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;

}
#linknever:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picnever{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -2;
transition: all 1s ease
}

/* rumours */

#linkrum {
  position: absolute;
  top: 32%;
  left: 55%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}
#linkrum:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picrum{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -3;
transition: all 1s ease
}

/* escapeism*/

#linkescape {
  position: absolute;
  top: 48%;
  left: 50%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}
#linkescape:hover{
  color: chartreuse;
  transform: rotate(15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picescape{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -4;
  transition: all 1s ease
}

/* cheaptrick */

#linkcheap {
  position:absolute;
  left:15%;
  top:43%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}
#linkcheap:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#piccheap{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -5;
  transition: all 1s ease
}

/* talk */

#linktalk {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;

}
#linktalk:hover{
  color: chartreuse;
  transform: rotate(15deg);
  background-color: white;
  transition: all 0.15s ease
}

#pictalk{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -6;
  transition: all 1s ease

}
 /* some girls*/

#linksomegirls {
  position: absolute;
  top: 60%;
  left: 37%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}
#linksomegirls:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picsomegirls{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -6;
  transition: all 1s ease

}

/* dance */

#linkdance {
  position:absolute;
  left:37%;
  top:85%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}
#linkdance:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picdance{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -5;
  transition: all 1s ease
}

/*go 2*/

#linkgo2{
  position: absolute;
  top: 72%;
  left: 60%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}

#linkgo2:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picgo2{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -6;
  transition: all 1s ease

}

/* gorilla */

#linkgorilla{
  position: absolute;
  top: 77%;
  left: 10%;
  font-size: 500%;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}

#linkgorilla:hover{
  color: chartreuse;
  transform: rotate(-15deg);
  background-color: white;
  transition: all 0.15s ease
}

#picgorilla{
  position:fixed;
  top: 0;
  left: 0%;
  height:100%;
  z-index: -6;
  transition: all 1s ease

}

/////////////////////////////////

@media (max-width: 780px) {

/* #linkgo2{
  font-size: 250%;
}
#linkrum{
  font-size: 250%;
}
#linkboys{
  font-size: 250%;
}
#linktalk{
  font-size: 250%;
}
#linkdance{
  font-size: 250%;
}
#linkcheap{
  font-size: 250%;
}
#linknever{
  font-size: 250%;
}
#linkescape{
  font-size: 250%;
}
#linkgorilla{
  font-size: 250%;
}
#linksomegirls{
  font-size: 250%;
} */

.nav-item{
  display:flex;
  flex-direction: column;
}

}

@media (max-width: 365px) {


}

@media (max-width: 365px) {


}

@media (max-width: 365px) {


}
