


  .header {
    font-family: 'Kumar One';
    color: black;
    position: absolute;
    top: 5%;
    left: 1%;
    color:black;
    text-decoration: none;
    font-size: 300%;
    margin-left: 2%;
  }

  .header:hover{
    color: chartreuse
  }

  .wrapper{
    display:flex;
  }


  .images{
    display:flex;
    flex-direction: column;
    order: 1;
    margin-left: 1%;
    margin-right: 5%;
    margin-top: 10%;

  }

  img{
    height: auto;
    width:100%;
    margin: 2%;
  }

  .container{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    text-align: left;
    order: 2;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 135%;
    line-height: 1.5;
  }

  a{
    color: #FF50AC;
    text-decoration: none;
  }

  @media (max-width: 1200px){

  }

  @media (max-width: 825px){

    .images img{
      margin-top: 30%;
    }
    .container{
      margin-top: 20%;
    }

  }

  @media only screen and (max-device-width: 430px) {

    .images img{
      margin-top: 40%;
    }
    .container{
      margin-top: 30%;
    }

  /*  #header a{

      position: relative;
      top:0;
      font-size: 100%;
    }

    .images img{
      top: 5%;
    } */

  }

  @media (max-width: 375px) {

    .images img{
      margin-top: 70%;
    }
    .container{
      margin-top: 40%;
    }
