body{
  background: black;
}



header{
  font-family: 'Marvel', sans-serif;
  font-size: 300%;
  text-align: center;
  margin-top: 10%;
  color: white;
  -webkit-animation: fadein 4s;

}

.nav-item{
  font-family: 'Marvel', sans-serif;
  font-size: 150%;
  text-align: center;
  color:white;
  -webkit-animation: fadein 4s;
  margin-top: 10%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::selection {
  color: #DD7A61;
}

.buttons {
    opacity: 0;
}

.nav-item:hover .buttons {
    opacity: 1;
}


.nav-item{
  margin-top: 5%;
}

.nav-item{
  color: white;
  text-align: center;
  font-family: 'Marvel', sans-serif;
  font-size: 150%;
  transition: 3s ease;
  margin: 1%;
}

.nav-item:hover{
  color: #DD7A61;
  transition: 1s ease
}

.lyrics{
  text-transform: uppercase;
  color: #fff;
     -webkit-animation: random 5s infinite;
     animation: random 5s infinite;
}

@keyframes  random {
    15% { color: red; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: white; }
}

#lyric-submit{
  font-family: 'Marvel', sans-serif;
  font-size: 75%;
  border-radius: 8px;
  background-color: black;
  color: white;
  margin:3%;
}

#title{

}

#artist{

}
