body{
  background: black;
}



header{
  font-family: 'Marvel', sans-serif;
  font-size: 300%;
  text-align: center;
  margin-top: 10%;
  color: white;
  -webkit-animation: fadein 4s;

}

.nav-item{
  font-family: 'Marvel', sans-serif;
  font-size: 150%;
  text-align: center;
  color:white;
  -webkit-animation: fadein 4s;
  margin-top: 10%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::selection {
  color: #DD7A61;
}

.buttons {
    opacity: 0;
    transition: 1s ease
}

.nav-item:hover .buttons {
    opacity: 1;
}


.nav-item{
  margin-top: 5%;
}

.nav-item{
  color: white;
  text-align: center;
  font-family: 'Marvel', sans-serif;
  font-size: 150%;
  transition: 3s ease;
  margin: 1%;

}

.nav-item:hover{
  color: #DD7A61;
}

.lyrics{
  text-transform: uppercase;
  font-size:500%;
  color: red;
     -webkit-animation: random 15s infinite;
     animation: random 15s infinite;
}

@keyframes  random {
    5% { color: #DD483A; }
    10% { color: #DD6539; }
    15% { color: #DD2F7A; }
    20% { color: #D23ADD; }
    25% { color: #AB39DD; }
    30% { color: fuchsia; }
    35% { color: hotpink; }
    40% { color: lightcoral; }
    45% { color: lightpink; }
    50% { color: lightsalmon; }
    55% { color: orangered; }
    60% { color: salmon; }
    65% { color: red; }
    70% { color: tomato; }
    75% { color: violet; }
    80% { color: deeppink; }
    85% { color: #DD483A; }
    90% { color: #DD2F7A; }
    95% { color: #AB39DD; }
    100% { color: orangered; }


}

#lyric-submit{
  font-family: 'Marvel', sans-serif;
  font-size: 65%;
  border-radius: 8px;
  background-color: black;
  color: white;
  margin:3%;
}

#title{
font-family: 'Marvel', sans-serif;
background-color:black;
color:white;
font-size: 55%;
border-radius: 5px;

}

#artist{
font-family: 'Marvel', sans-serif;
background-color:black;
color:white;
border-radius: 5px;
}
